@model IEnumerable<EstudosApiFront.Models.CategoriaViewModel>

@{
    ViewBag.Title = "Categorias";
}
@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensagem"]</div>
}
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]</div>
}
<div class="d-flex flex-column align-items-center">
    <h2 class="mb-4">Categorias</h2>
    <a href="/Categorias/Create" class="btn btn-success btn-lg mb-3">Criar Nova Categoria</a>
</div>
<br>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Categorias</th>
            <th>Tarefas</th>
            <th>Ações</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => categoria.Nome)
                </td>
                <td>
                    <table class="table table-sm ">
                        <tbody>
                            @foreach (var tarefa in categoria.Tarefas)
                            {
                                <tr class="bg-light shadow-sm">
                                    <td>@tarefa.Nome</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td class="">
                    @Html.ActionLink("Editar", "Edit", new { id = categoria.Id }, new { @class = "btn btn-primary btn-sm shadow" }) 
                    @Html.ActionLink("Detalhes", "Details", new { id = categoria.Id }, new { @class = "btn btn-secondary btn-sm shadow" }) 
                    @Html.ActionLink("Deletar", "Delete", new { id = categoria.Id },
                        new { 
                            @class = "btn btn-danger btn-sm shadow", 
                            onclick = "return confirm('Deseja realmente deletar esta Categoria? Lembrando que vai deletar as tarefas dentro da categoria junto!');" 
                        })
                </td>
            </tr>
        }
    </tbody>
</table>
