@model IEnumerable<EstudosApiFront.Models.CategoriaViewModel>

@{
    ViewBag.Title = "Categorias e Tarefas";
}

<h2>Lista de Categorias e Tarefas</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>Tarefas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => categoria.Id)</td>
                <td>@Html.DisplayFor(model => categoria.Nome)</td>
                <td>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Prioridade</th>
                                <th>Completo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tarefa in categoria.Tarefas)
                            {
                                <tr>
                                    <td>@tarefa.Id</td>
                                    <td>@tarefa.Nome</td>
                                    <td>@tarefa.Prioridade</td>
                                    <td>@tarefa.Completo</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
