@model IEnumerable<EstudosApiFront.Models.TarefaViewModel>
@{
    ViewBag.Title = "Tarefas";
}
@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensagem"]</div>
}
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]</div>
}
<div class="d-flex flex-column align-items-center">
    <h2 class="mb-4">Tarefas</h2>
    <a href="/Tarefas/Create" class="btn btn-success btn-lg mb-3">Criar Nova Tarefa</a>
</div>
<br>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.DataTermino)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Prioridade)</th>
            <th>@Html.DisplayNameFor(model => model.Completo)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DataTermino)</td>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Prioridade)</td>
                <td>@Html.DisplayFor(modelItem => item.Completo)</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm shadow" }) 
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm shadow" }) 
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id },
                        new { 
                            @class = "btn btn-danger btn-sm shadow", 
                            onclick = "return confirm('Deseja realmente deletar esta Tarefa?');" 
                        })
                </td>
            </tr>
        }
    </tbody>
</table>